body {
    font-family: "Namdhinggo", serif;
    background-color: hsl(180, 21%, 71%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .registration-form {

    max-width: 600px;
    width: 100%;
    background-color: tr;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .registration-form h2 {
    text-align: center;
    font-size: 3em;
    color: #333;
  }

  .form-group {
    display: flex;
    margin-bottom: 20px;
    padding: 2px;
  }


  label {
    display: inline-block;
    margin-bottom: 8px;
    color: #555;
  }

  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #e8dddd;
    border-radius: 4px;
    font-size: 16px;
  }

  #submit, #reset{
    background-color: #f0eae1;
    color: #171717;
    padding: 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    width: 40%;
  }
  .title-options {
    display: inline-flex;
    gap: 2px;
    margin-bottom: 10px;
  }


 #reset:hover {
    background-color: #7dbc5b;
  }

  #submit:hover {
    background-color: #7dbc5b;
  }
